* {
    font-family: inter;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: inter;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* Login Form */
.loginForm {
    border: 1px solid #ADADAD; /* Outer Border */
    padding: 10px; /* Adjust this value to the needs */
    box-shadow: inset 0 0 0 1px #ADADAD; /* This simulates the inner border */
    width: 395px;
    height: 416px;
    text-align: center;
    margin-top: 90px;
}

/* Login Form Grow Animation */
form {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Login Form End of the Grow Animation */
form.show{
    opacity: 1;
    transform: scale(1);
}


.btn { /* Login Button */
    background-color: black;
    border: 1px transparent solid;
    width: 315px;
    height: 38px;
    border-radius: 10px;
    margin: 24px;
    opacity: 0.9;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
    font-size: 15px;
}

.btn:hover{
    background-color: #898989;
    color: black;
    opacity: 1;
}  

.decorative-line {
    border: 0;
    height: 2px; /* Thickness of the line */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient color */
    margin: 20px 0; /* Spacing around the line */
}

.esqueceuAsenha {
    font-size: 15px;
}

.else-box {
    border: 1px solid #ADADAD; /* Outer Border */
    padding: 10px 10px 10px 10px; /* Adjust this value to the needs */
    box-shadow: inset 0 0 0 1px #ADADAD; /* This simulates the inner border */
    width: 395px;
    text-align: center;
    margin-top: -60px;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.else-box.show{
    opacity: 1;
    transform: scale(1);
}
.form {
    width: 417px;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side{
    flex :1;
    background-size: cover;
    justify-content: center;
    display: grid;
    align-items: center;
}

.right-side{
    flex: 1;
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {
    text-align: center;
}

.bottom-line {
    background: rgb(173, 173, 173); 
    width: 200%;
}

.link {
    margin: 10px 50px 10px 10px;
    font-size: 15; 
    color: #464646; 
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

a {
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;

}

a:hover {
    background-color: #dfd4d4;    
}

/* Floating Label */
.input-container {
    width: 280px;
    position: relative;
}

.label {
    position: absolute;
    top: 14px;
    left: 10px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: black;
    pointer-events: none; /* */
}
/* Input Field */
.text-input {
    padding: 1rem;
    width: 131%; /* 130 */
    height: 100%;
    position: relative;
    border: 1px solid #ADADAD;
    background-color: #DEDEDE;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    box-shadow: inset 0 0 0 1px #ADADAD; /* This simulates the inner border */
    text-indent: 20px;
    margin-bottom: 15px;
}

.label::before {
    content: '';
    height: 5px;
    background: #DEDEDE;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid #7e4ccb;   
}

.text-input:focus + .label,
.filled {
    top: -10px;
    color:  #7e4ccb;
    font-size: 14px;
}

.text-input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

.text-input:focus,
.text-input:not(:placeholder-show){
    border: 2px solid #7e4ccb;
}

.text-input:focus + .label,
.text-input:not(:placeholder-shown) + .label {
    top: -10px;
    color: black;
    font-size: 14px;
}


/* Logo Size and Position */
.logo {
    width: 300px;
    height: 300px;
    position: relative;
    left: 85px;
    bottom: 225px;
  }

  .project-name {
    font-size: 61px;
    position: relative;
    bottom: 212px;
    left: 465px;
  }

  /* Rolling Text */

.outer-headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -350px;
    top: 65px;
}

.outer-headings h1 {
    font-size: 43px;
    text-align: left;
}

.inner-headings {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 51px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
}

.inner-headings span {
    position: relative;
    color: #de2d2db5;
    animation: animation 10s ease infinite;
}


@keyframes animation {
    0%,
    100% {
        top: 0;
    }
    20% {
        top: 0;
    }
    25% {
        top: -50px;
    }
    45% {
        top: -50px;
    }
    50% {
        top: -100px;
    }
    70% {
        top: -100px;
    }
    75% {
        top: -150px;
    }
    95% {
        top: -150px;
    }
}

/* Bloco de Alerta */
#alert {
    position: absolute;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    background-color: #DE2D2D;
    color: white;
    padding: 10px;
    display: none; /* Mantém o alerta oculto inicialmente */
    z-index: 9999; /* Certifica-se de que o alerta esteja acima de outros elementos */
    left: 465px;
    top: 50px;
    border: 1px solid #DE2D2D;
    border-radius: 5px;

}



.bottom-line {
    /*! width: 183%; */ margin-left: -175px; background: rgb(173, 173, 173); border: 1px solid rgb(173, 173, 173); margin-bottom: -50px;
}
/* Dispositivos Móveis */
@media (max-width: 768px) {
    /* Torna o container flexível */
    .container {
        flex-direction: column;
        align-items: center;
    }

    /* Esconder a parte esquerda do site */
    .left-side {
        display: block;
        width: 100%;
    }

    /* Esconder o lado direito */
    .right-side {
        display: none;
    }

    /* Estilo para o alerta */
    #alert {
        display: block; /* Mostra o alerta */
        margin: 20px 0; /* Espaço ao redor do alerta */
        text-align: center; /* Centraliza o texto */
        left: 55%;
    }

    /* Estilo para o formulário */
    .loginForm {
        width: 90%; /* Largura do formulário */
        max-width: 400px; /* Largura máxima do formulário */
        margin: 157px auto;
        text-align: center;
        position: relative;
        top: 75px;
        left: 5%;
    }

    /* Esconder elementos desnecessários em dispositivos móveis */
    .else-box {
        display: block; /* Mantenha apenas as partes necessárias */
        text-align: center; /* Centraliza o texto */
        text-align: center;
        position: relative;
        bottom: 10px;
        left: 28%;
    }

    /* Linha horizontal */
    .form-line {
        margin: 15px 0; /* Espaçamento para a linha */
    }

    /* Links importantes */
    .links a {
        display: inline-block; /* Mostra os links em linha */
        margin: 5px 0; /* Espaçamento entre os links */
    }
    
    .bottom-line {
        
    width: 103%;
    left: 29%;
    position: relative;
    bottom: -35px;
    }
}
