* {
    font-family: inter;
}

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

/* Style */
.topnav {
    background-color: #333;
    overflow: hidden;
    height: 94px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que fica em cima de todos os elementos */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    display: flex;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;
}

/* Style the links inside */
.topnav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0 50px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.topnav-right {
    display: flex;
    align-items: center;
    padding: 0 50px;
}

/* Style the search box in the navigation bar */
.search-container{
    position: relative;
    display: inline-block;
}

.topnav input[type=text] {
        padding: 6px 6px 6px 30px; /* Adiciona espaço à esquerda para o ícone */
        border: 1px solid #BABABA;
        margin-top: 0px;
        margin-right: -300px;
        font-size: 17px;
        width: 230px;
        height: 25px;
        border-radius: 10px;
        background: #CFCFCF;
        outline: none; /* Remove o destaque em azul */
        transition: width 0.3s cubic-bezier(1,0,0,1), transform 0.3s ease, border-color 0.3s ease; /* Transição suave para a largura, transformação e cor da borda */
        transform-origin: center; /* Garante que a transformação seja centralizada */
}

/* Quando o mouse está sobre a Search Bar */
.topnav input[type=text]:hover {
    transform: scale(0.88); /* Diminui um pouco no hover */
    border-color: black; /* Apenas muda a cor da borda no hover */
}

/* Quando o usuário clica na barra de pesquisa (foco) */
.topnav input[type=text]:focus {
    width: 400px; /* Expande a largura suavemente */
    transform: scale(1); /* Garante que o foco não altere a escala */
    /* margin-right: -300px;  Ajusta o deslocamento para manter a barra centralizada */ 
}

.search-container:hover i {
    transform: scale(0.78); /* Diminui o ícone junto com a barra de pesquisa */
    /* left: 25px; */
    /* top: 10px; */
    transition: transform 0.3s ease;
}

/* Quando o foco está na Search Bar */
.topnav input[type=text]:focus ~ i {
    transform: scale(1); /* Garante que o ícone não se transforme quando o campo de entrada está em foco */
    right: 25px;
    top: 18px;
}

/* Estilo do Ícone */
.search-container i {
    position: absolute;
    left: 10px; /* Posiciona o ícone à esquerda dentro da barra de pesquisa */
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; /* Ajusta o tamanho do ícone */
    color: #BABABA; /* Cor do ícone */
    pointer-events: none; /* Garante que o ícone não interfira com a interação do usuário */
    transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease; /* Transição suave para o ícone */
}

/* Quando o foco está na Search Bar e o mouse está sobre a Search Bar */
.topnav input[type=text]:focus ~ i,
.search-container: hover input[type=text]:focus ~ i {
    transform: scale(1); /* Garante que o ícone não se transforme quando o campo de entrada está em foco */
    left: 25px; /* Ajuste a posição do ícone quando o campo está em foco */
    top: 18px; /* Ajusta a posição vertical do ícone quando o campo está em foco */
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px){
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the added topnav with JS when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px){
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Splash Screen */
#splash {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1e1e1e;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#splash h1 {
    font-size: 3em;
    margin: 0;
}

#splash p {
    font-size: 1.5em;
    margin-top: 10px;
}

/* Transição suave para o conteúdo */
.fade-out {
    opacity: 0;
    transition: opacity 0.8s ease;
}

