body {
    font-family: inter;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.container {
    border: 1px solid #ADADAD; /* Outer Border */
    padding: 10px; /* Adjust this value to the needs */
    box-shadow: inset 0 0 0 1px #ADADAD; /* This simulates the inner border */
    width: 395px;
    height: 416px;
    text-align: center;t
}

.input {
    background-color: #DEDEDE;
    border: 1px solid #ADADAD;
    box-shadow: inset 0 0 0 1px #ADADAD; /* This simulates the inner border */
    width: 315px;
    height: 50px;
    text-indent: 20px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.btn { /* Login Button */
    background-color: black;
    border: 1px transparent solid;
    width: 315px;
    height: 38px;
    border-radius: 10px;
    margin: 24px;
}

.input::placeholder {
    font-size: 20px;
    color: #000000
}

.decorative-line {
    border: 0;
    height: 2px; /* Thickness of the line */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient color */
    margin: 20px 0; /* Spacing around the line */
}

.esqueceuAsenha {
    font-size: 15px;
}

