<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" placeholder="Username">
    <link rel="stylesheet" href="/new-ui/onboaridng.css">
    <title>Document</title>
</head>
<body>

    <div class="form" id="app">
        <form action="" class="container">
        <input type="text" class="input" v-model="username" placeholder="Nome de Usuário" required><br><br>
        <input type="text" class="input" v-model="psw" placeholder="Senha" required><br><br>
        <button type="submit" v-model="loginBtn" class="btn"><b style="color:white;">Entrar</b></button>
        </form>
        <hr class="decorative-line">
    </div>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>

        const app = Vue.createApp({
            data() {
                return {
                    inpText: " "
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>