* {
    font-family: inter;
}

body, html {
    margin: 0;
    height: 100%;
    font-family: inter;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* Login Form */
.loginForm {
    border: 1px solid #ADADAD; /* Outer Border */
    padding: 10px; /* Adjust this value to the needs */
    box-shadow: inset 0 0 0 1px #ADADAD; /* This simulates the inner border */
    width: 395px;
    height: 416px;
    text-align: center;
    margin-top: 90px;
}

/* Login Form Grow Animation */
form {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Login Form End of the Grow Animation */
form.show{
    opacity: 1;
    transform: scale(1);
}


.btn { /* Login Button */
    background-color: black;
    border: 1px transparent solid;
    width: 315px;
    height: 38px;
    border-radius: 10px;
    margin: 24px;
    opacity: 0.9;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;
}

.btn:hover{
    background-color: #898989;
    color: black;
    opacity: 1;
}


.decorative-line {
    border: 0;
    height: 2px; /* Thickness of the line */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient color */
    margin: 20px 0; /* Spacing around the line */
}

.esqueceuAsenha {
    font-size: 15px;
}

.else-box {
    border: 1px solid #ADADAD; /* Outer Border */
    padding: 10px 10px 10px 10px; /* Adjust this value to the needs */
    box-shadow: inset 0 0 0 1px #ADADAD; /* This simulates the inner border */
    width: 395px;
    text-align: center;
    margin-top: -60px;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.else-box.show{
    opacity: 1;
    transform: scale(1);
}
.form {
    width: 417px;
}

.container {
    display: flex;
    height: 100vh;
}

.left-side{
    flex :1;
    background-size: cover;
    justify-content: center;
    display: grid;
    align-items: center;
}

.right-side{
    flex: 1;
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links {
    text-align: center;
}

.bottom-line {
    background: rgb(173, 173, 173); 
    width: 200%;
}

.link {
    margin: 10px 50px 10px 10px;
    font-size: 15; 
    color: #464646; 
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
}

a {
    transition: background-color 0.3s, color 0.3s, opacity 0.3s;

}

a:hover {
    background-color: #dfd4d4;    
}

/* Floating Label */
.input-container {
    width: 280px;
    position: relative;
}

.label {
    position: absolute;
    top: 14px;
    left: 10px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}
/* Input Field */
.text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    position: relative;
    border: 1px solid #ADADAD;
    background-color: #DEDEDE;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    box-shadow: inset 0 0 0 1px #ADADAD; /* This simulates the inner border */
    text-indent: 20px;
    margin-bottom: 15px;
}

.label::before {
    content: '';
    height: 5px;
    background: #272530;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid #7e4ccb;   
}

.text-input:focus + .label,
.filled {
    top: -10px;
    color:  #7e4ccb;
    font-size: 14px;
}

.text-input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}