<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" placeholder="Username">
    <link rel="stylesheet" href="/new-ui/onboaridng.css">

    <!-- Inter Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>

    <div class="form" id="app">
        <form action="" class="container">
        <h1 style="font-size: 30px; padding: 15px 15px 15px 15px;">OpenVoice</h1>
        <input type="text" class="input" v-model="username" placeholder="Nome de Usuário" required><br>
        <input type="text" class="input" v-model="psw" placeholder="Senha" required><br>
        <button type="submit" v-model="loginBtn" class="btn" style="color:white;">Entrar</button>
        <hr class="decorative-line" style="background: #ADADAD;">
        <a href="" class="esqueceuAsenha" style="color: #006DFC; text-decoration: none;"><b>Esqueceu a Senha?</b></a>
        </form>
    </div>

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>

        const app = Vue.createApp({
            data() {
                return {
                    inpText: " "
                }
            }
        })
        app.mount('#app')
    </script>
</body>
</html>