body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-img {
/* Image Used */
    background-image: url("mountain-2.jpg");
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
 /* Add styles to the form container */
 .container {
    position: relative;
    /* right: 0; */
    /*margin: 20px; */
    max-width: 305px;
    padding: 20px;
    background-color: white;
    left: 42%;
    top: 25%;
    border: solid white;
    border-radius: 15px;
 }

 /* Full-width input fields */
 input[type=text], input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
 }

 /* Set a style for the submit button */
 .btn {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 20px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    transition: 0.3s;
    border: solid #04AA6D;
    border-radius: 15px;
 }

 .btn:hover {
   border: solid rgb(180, 180, 253);
   background-color: rgb(180, 180, 253);
   color: black; 
   opacity: 1;
 }

#checkbox-psw {
    position: relative;
    bottom: 15px;
}

#checkbox-text {
    position: relative;
    bottom: 14px;
}



#shift, #caps {
    display:none;
    color:gray;
    font-size: 15px;
    position: relative;
    text-align: center;
    bottom: 40px;
}
