body {
    margin: 0;
    font-family: 'Poetsen One', sans-serif;
    color: white;
    background: rgb(29, 27, 27);
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.yellow {
    background: yellow;
}

.blue {
    background: blue;
}
.blue::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
}
.orange {
    background: orange;
}

.red {
    background: red;
}
.red-curve {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.red-curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.red-curve .shape-fill {
    fill: orange;
}

.green {
    background: green;
}

.pink {
    background: pink;
}

.white {
    background: white;
}

.darkblue {
    background: darkblue;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    bottom: 0;
}

    .curve::before {
  content: '';
  display: block;
  position: absolute;
  border-radius: 100% 47%;
  width: 56%;
  height: 99%;
  background-color: blue;
  transform: translate(82%, 51.1%);
    }

    .curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 71%;
    width: 70%;
    height: 100%;
    background-color: yellow;
    transform: translate(-30%, 41.9%);
    z-index: 1;
    }

    .spacer {
        aspect-ratio: 960/300;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .layer1 {
        background-image: url('./layered-waves-haikei.svg');
    }

    .layer2 {
    background-image: url('.layered-waves-haikei.svg')
    }

    .flip {
        transform: rotate(180deg);
    }

    .blob-motion {
        position: absolute;
        transform: translateY(-20%);
    }