body {
    background-color: gray;
    color: white;
    font-family: sans-serif;
}

/* Start of nav bar */

/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 65px 10px;
  transition: 0.4s;
  position: fixed;
  width: 98%;
  top: 0;
  z-index: 99;
  border-bottom: solid #9f9f9f; 
  border-radius: 25px;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: 0.3s;
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

/* Links on mouse-over */
#navbar a:hover{
background-color: #bba4a4;

}

/*Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px){
  #navbar {
    padding: 20px 10px !important 
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}
/* End of nav bar */

#Hello {
    position: relative;
    top: 75px;
    text-align: center;
    font-size: 150px;
}

#lorem {
    text-align: center;
    font-size: 18px;
}

#link-another-page {
    color: white;
}

#hello-censored {
    width: 300px;
    height: 230px;
    background-color: red;
    animation-name: example;
    animation-duration: 6s;
    position: relative;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
font-size: 50px;
text-align: center;
position: relative;
top: 175px;
}

@keyframes example {
    0% {background-color: red; left: 0px;}
    25% {background-color: yellow; left: 0px; }
    50% {background-color: blue; left: 1605px;}
    75% {background-color: pink; left: 0px;}
    100% {background-color: red; left: 0px;}
}

#oops {
font-size: 25px;
text-align: center;
position:relative;
top: 160px;
}

#dont {
    font-size: 15px;
    text-align: center;
    color: #484040;
    position: relative;
    top:150px;
}

 /* Style the Image Used to Trigger the Modal */
#myImg {
  position:relative;
  top: 250px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
#myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  } 

  /* patch-notes.html  Page*/

  .article-1 {
    color: black;
    text-align: center;
  }

  .article-1-paragraph {
    color: black;
    text-align: center;
    position: relative;
    top: -20px;
  }

  .patch-notes-box {
    background-color: white;
    color: black;
    width: 500px;
    margin: auto;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 185px;
    height: 3366px;
  }

  .patch-notes-phrase {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 40px;
  }

  .patch-notes-box img {
    max-width: 500px;
    max-height: 500px;
  }


   /* Curves */
   .curve {
    position: absolute;
    bottom: -2768px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.curve .shape-fill {
    fill: #FFFFFF;
}

.credits{
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  z-index: 1;
  position: relative;
  bottom: -220px;
  left: 845px;
  border-radius: 4px;
}

.credits:hover {
  background-color: #bba4a4;
  color: black;
  
}